/* CONTAINER STYLES */
.container {
	max-width: min(95%, 1200px);
	margin: 0 auto;
	padding: 1.5rem;
	min-height: 100vh;
}

/* NOTELIST STYLE */
.note-list {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 2fr 3fr 3fr;

	
}

@media screen and (max-width: 800px) {
	.note-list {
		/* display: none; */
		grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	}

	.container {
		max-width: 96rem;
	}
}

/* NOTE STYLES */
.note {
	background-color: #fef68a;
	border-radius: 1rem;
	padding: 1rem;
	margin-bottom: 20px;
	/* Give that collage feeling */
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	word-break: break-all;
	white-space: pre-wrap;
}

.note .note--text {
	min-height: 80%;
	font-weight: 300;
	font-size: 1.7rem;
	margin: 10px 0;
	padding-bottom: 10px;
}

.note.new-note {
	min-height: 17rem;
}

.note-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.right {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.delete-icon {
	cursor: pointer;
	color: red;
}

.edit-icon {
	color: rgb(86, 134, 15);
	cursor: pointer;
}

/* ADDNOTE STYLE */
.note.new-note {
	background-color: #67d7cc;
}

textarea {
	border: none;
	resize: none;
	background-color: #67d7cc;
}

textarea.resize--on--input {
	min-height: 70px;
}

textarea:focus {
	outline: none;
	/* simply putting the above style property on the original textarea selector above would have worked just fine too */
}

button.btn {
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	cursor: pointer;
	font-size: 1.2rem;
	text-transform: uppercase;
}

button.btn--save {
	background-color: #e1e1e1;
}

button.btn--save:hover {
	background-color: #ededed;
}

button.btn--delete {
	color: white;
	background-color: red;
}

button.btn--delete:hover {
	background-color: rgba(187, 33, 33, 0.863);
}

/* SEARCH STYLE */
.search {
	border-radius: 0.6rem;
	margin-bottom: 1rem;
	display: flex;
	padding: 0.6rem;
	background-color: rgb(233, 233, 233);
	gap: 0.5rem;
}

.search input {
	border: none;
	background-color: rgb(233 233 233);
	outline: none;
	width: 100%;
}

/* HEADER STYLE */
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header--actions--wrapper > button {
	margin-right: 5px;
}

/* DARK MODE STYLE */
.dark-mode {
	background-color: #333;
}
.dark-mode h1 {
	color: white;
}

.no--notes {
	height: 30vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.no--notes p {
	color: white;
	font-size: 1.6rem;
}

.text--italic {
	font-style: italic;
}

.text--sm {
	font-weight: 200;
	font-size: 0.9em;
}

textarea.note--title {
	padding-bottom: 5px;
	border-bottom: 1px dashed black;
	margin-bottom: 10px;
}

.note--tag {
	border: 1px solid white;
	background-color: red;
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
	margin-right: 5px;
}

.note--tag--wrapper {
	padding: 10px 0;
	margin-top: 10px;
}

button.btn--import {
	position: relative;
	padding: 0;
}

button.btn--import label {
	position: absolute;
	top: 20%;
	left: 30%;
}

button.btn--import input[type="file"] {
	opacity: 0;
	width: 35px;
	height: 25px;
}